.containerUserMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.userName {
  font-size: 20px;
  font-weight: 300;
  color: rgb(25, 25, 25);
}

.buttonUserMenu {
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #fdc780;
  -webkit-box-shadow: 2px 2px 8px -6px rgba(68, 68, 68, 1);
  -moz-box-shadow: 2px 2px 8px -6px rgba(68, 68, 68, 1);
  box-shadow: 2px 2px 8px -6px rgba(68, 68, 68, 1);

  font-size: 15px;
  font-weight: 200;
  color: white;
  cursor: pointer;
}

.buttonUserMenu:hover {
  background-color: rgb(255, 157, 0);
}
